*{
  margin: 0px;
}

body{
  width: 100%;
  height: 100%;
  background-color: #F0EDED;
}
.container{
  width: 140.5vh;
  margin: 0 auto;
}
.side{
  float:left;
  width: 38.33%;
}

.box{
  float: left;
  width: 46vh;
  height: 63vh;
  border: 10px solid #979797;
  margin-top: 12vh;
  position: absolute;
}

.white{
  height: 100vh;
  margin: 0 13vh 0 8vh;
  background-color: #fff;
}

.tabs{
  margin-top: 10vh;
}

.tabs a{
  display: block;
  font-family: 'HanziPen SC', sans-serif;
  font-weight: 600;
  color: #979797;
  font-size: 4.88vh;
  margin-bottom: 3.3vh;
  text-align: center;
  text-decoration: none;
}

.tabs a:first-child{
  color: #3C705A;
}

.name{
  padding-top: 17.67vh;
}

.name img{
  height: 25vh;
}

.sns_links{
  margin-top: 15vh;
}

.sns_links a{
  width: 3.125vh;
  height: 3.125vh;
  margin-right: 3.5vh;
}

.sns_links a:last-child{
  margin: 0;
}

.main{
  float: right;
}
