*{
  margin: 0px;
}

body{
  background-color: #F0EDED;
}


.container{
  margin: auto;
  width: 116.11vh;
  height: 100vh;
  background-image: url("images/background.png");
  background-repeat: no-repeat;
  background-size: cover ;
  min-width: 960px;
  min-height: 800px;
}

.tabs{
  width: 45.117vh;
  height: 45.117vh;
  display: inline-block;
  margin: 43.16vh 0 0 -9.375vh;
  border: 8px solid #979797;
}

.tabs a{
  display: block;
  font-family: 'HanziPen SC', sans-serif;
  font-weight: 600;
  color: #979797;
  font-size: 4.88vh;
  margin-bottom: 3.3vh;
  text-align: center;
  text-decoration: none;
}

.tabs a:first-child{
  margin-top: 14vh;

}

.name{
  display: block;
  float: right;
  margin: 11.7188vh -9.375vh 0 40vh;
  width: 45.117vh;
  height: 45.117vh;
  border: 8px solid #979797;
}

.name img{
  width: 28.125vh;
  height: 22vh;
  margin: 10vh 0 0 8.5vh;
}

.sns_links{
  float: right;
  display: run-in;
  margin: -22vh 3.5vh 0 0;
}

.sns_links a{
  width: 3.125vh;
  height: 3.125vh;
  margin-right: 2.343vh;
}

.sns_links a:last-child{
  margin: 0;
}
